<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
  <meta charset="utf-8">
  <title>Ordering</title>
</head>
<body>
<th:block th:each="product:${products}">
  <div>
    <h1 th:text="${product.name}"></h1>
    <p><b th:text="${product.category}"></b></p>
    <p>[[${product.price}]]€</p>
  </div>
  <hr/>
</th:block>
</body>
</html>
